header {
    background: purple;
    color: green;
    align-content: center;
    font-size: x-large;
}
h3, h2 {
    color: blue;
    font: bold;
    padding: 20px;
}
.pic {
    border: 15px solid red;
    width: 200px;
    height: 300px;
}
